@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-instrument-sans);
  --font-serif: var(--font-instrument-serif);
  --font-redacted: var(--font-redacted-script);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-instrument-sans), sans-serif;
}

.font-redacted,
.font-redacted * {
  font-family: var(--font-redacted-script), cursive !important;
}

.masonry-grid {
  display: flex;
  width: auto;
}

.masonry-grid-column {
  background-clip: padding-box;
  /* Padding 24px di kiri dan kanan untuk membuat gutter 48px */
  padding-left: 24px;
  padding-right: 24px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
